.banner{
    display: flex;
}

.leftHeading{
    width: 30%;
    display: flex;
    margin: 2%;
}

.leftHeadingIcon{
    height: 100px;
}

.leftHeadingText{
    display: flex;
    align-content: center;
    justify-content: center;
    padding-left: 5%;
}

.rightHeading{
    width: 66%;
    display: flex;
    justify-content: right;
    align-content: center;
    margin: 4%;
}

.boldText{
    font-weight: bold;
}

.contentPadding{
    margin: 0% 2%;
    width: 26%;
}

.frame{
    width: 68%;
    background-color: #291B57;
    border-radius: 20px;
    padding: 1%;
    z-index: 1;
}

.yellowBorder{
    max-width: 200px;
    padding: 1%;
    border-radius: 15px;
    background-color: #FEC21C;
    text-align: center;
    color: white;
    margin: 1%;
}

.teamContainer{
    margin: 1%;
}

.border{
    border: red 1px solid;
}