<div class="frame">
    <div class="card flex justify-content-center dropDownCard" style="border-radius: 20px;">
        <p-dropdown 
            placeholder="Briefed ({{countOfBrief}})" 
            [options]="briefed" 
            optionLabel="projectName" 
            [style]="{'width': '100%'}"
            [(ngModel)]="selectedProject"
            (ngModelChange)="onSelectionChange()">
        </p-dropdown>
    </div>
    <div class="card flex justify-content-center dropDownCard">
        <p-dropdown 
            placeholder="Waiting ({{countOfWaiting}})" 
            [options]="waiting" 
            optionLabel="projectName" 
            [style]="{'width': '100%'}"
            [(ngModel)]="selectedProject"
            (ngModelChange)="onSelectionChange()">
        </p-dropdown>
    </div>
    <div class="card flex justify-content-center dropDownCard">
        <p-dropdown 
            placeholder="In Progress ({{countOfInProgress}})" 
            [options]="inProgress" 
            optionLabel="projectName" 
            [style]="{'width': '100%'}"
            [(ngModel)]="selectedProject"
            (ngModelChange)="onSelectionChange()">
        </p-dropdown>
    </div>
    <div class="card flex justify-content-center dropDownCard">
        <p-dropdown 
            placeholder="Done ({{countOfDone}})" 
            [options]="done" 
            optionLabel="projectName" 
            [style]="{'width': '100%'}"
            [(ngModel)]="selectedProject"
            (ngModelChange)="onSelectionChange()">
        </p-dropdown>
    </div>
</div>