<div>
    <app-user-info></app-user-info>
</div>
<div class="spaceButtom">
    <button class="lightButton" (click)="openNewBrief()">
        <p class="darkText">+ Create brief</p>
    </button>
</div>
<div class="flex">
    <div class="contentPadding">
        <app-project-overview (selectedOptionChange)="onChildSelectionChange($event)"></app-project-overview>
    </div>
    <div class="border">
        <!-- show project details -->
        <div class="projectCard" *ngIf="showProject">
            <div class="projectHeader">
                <p class="lightText mediumText"> Due date countdown </p>
            </div>
            <div class="space">
                <div>
                    <p class="darkText largeText">{{selectedProject}} - {{selectedProjectDescription}}</p>
                </div>
                <div class="flex">
                    <div class="smallFrame">
                        <p class="darkText mediumText">Due date</p>
                    </div>
                    <div class="bigFrame">
                        <p class="darkText mediumText">{{date | date: 'EEE, MMM d, y, h:mm a'}}</p>
                    </div>
                </div>
                <div class="flex">
                    <div class="smallFrame">
                        <p class="darkText mediumText">Status</p>
                    </div>
                    <div class="bigFrame">
                        <p class="darkText mediumText">{{status}}</p>
                    </div>
                </div>
                <div class="flex">
                    <div class="smallFrame">
                        <p class="darkText mediumText">Priority</p>
                    </div>
                    <div class="bigFrame">
                        <div>
                            <p class="darkText mediumText priority" [ngClass]="getPriorityClassColor(priority)">{{priority}}</p>
                        </div>
                    </div>
                </div>
                <div class="center flex">
                    <div>
                        <button class="lightButton" (click)="openTracker()">
                            <p class="darkText">Track porject</p>
                        </button>
                    </div>
                    <div>
                        <button class="darkButton" (click)="moveToDone()">
                            <p class="lightText">Mark as done</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- show the status of a project -->
        <div class="trackerCard" *ngIf="showTracker">
            <div class="trackerHeader flex">
                <div class="leftBorder">
                    <p class="darkText largeText"> KP Life pull-up banners </p>       
                </div>
                <div class="rightBorder">
                    <button class="clearButton" (click)="closeTracker()">X</button>
                </div>
            </div>
            <div class="space">
                <div *ngFor="let project of projectProgress" class="flex">
                    <div class="leftBorder">
                        <p class="darkText smallText"><i class="pi {{project.icon}}" [style.color]="getIconColor(project.icon)"></i></p>
                    </div>
                    <div class="leftBorder">
                        <p class="darkText smallText">{{project.description}}</p>
                    </div>
                    <div class="rightBorder">
                        <p class="darkText smallText">{{project.date}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- create new brief -->
        <div class="briefCard" *ngIf="showBrief">
            <div class="trackerHeader flex">
                <div class="leftBorder">
                    <p class="darkText largeText"> New Brief </p>       
                </div>
                <div class="rightBorder">
                    <button class="clearButton" (click)="closeTracker()">X</button>
                </div>
            </div>
            <div class="space" [formGroup]="briefForm">
                <div>
                    <p class="darkText smallText">Project Name</p>
                    <textarea pInputTextarea [autoResize]="false" formControlName="projectName"></textarea>
                </div>
                <div class="flex">
                    <div>
                        <p class="darkText smallText">Project Type</p>
                        <p-dropdown formControlName="projectType" [options]="projects" optionLabel="name" optionValue="value"></p-dropdown>
                    </div>
                    <div class="spaceLeft">
                        <p class="darkText smallText">Project Timeline</p>
                        <p-dropdown 
                            formControlName="timeCount" 
                            [options]="timeCounter" 
                            optionLabel="count" 
                            optionValue="value">
                        </p-dropdown>
                        <p-dropdown 
                            formControlName="timeUnit" 
                            [options]="timeUnit" 
                            optionLabel="unit" 
                            optionValue="value">
                        </p-dropdown>
                    </div>
                </div>
                <div class="sapceTop">
                    <p class="darkText smallText">Departement</p>
                    <p-selectButton 
                        formControlName="departement" 
                        [options]="marketingOptions" 
                        optionLabel="name" 
                        optionValue="value">
                    </p-selectButton> 
                </div>
                <div class="sapceTop">
                    <p class="darkText smallText">Priority</p>
                    <p-dropdown 
                        class="darkText smallText" 
                        formControlName="priority" 
                        [options]="priorityOptions" 
                        optionLabel="urgency" 
                        optionValue="value">
                    </p-dropdown>
                </div>
                <div>
                    <p class="darkText smallText">Project description</p>
                    <textarea pInputTextarea [autoResize]="false" formControlName="description"></textarea>
                </div>
                <div class="sapceTop">
                    <!-- <button class="outlineButton" (click)="submitBriefEntry()">
                        <p class="darkText">Link Brief</p>
                    </button>
                    <button class="outlineButton" (click)="submitBriefEntry()">
                        <p class="darkText">Upload</p>
                    </button> -->
                    <button class="darkButton" (click)="submitBriefEntry()">
                        <p class="lightText">Submit</p>
                    </button>
                    <div class="errorMessage">
                        <p-messages [(value)]="messages" [enableService]="false"></p-messages>
                    </div>  
                </div>
            </div>
        </div>
    </div>
</div>
 