.center{
    align-content: center;
    justify-content: center;
}

.bottomSpace{
    margin-top: 20%;
}

.content{
    /* border-right: 1px solid rgb(104, 103, 103); */
    /* border: 1px solid rgb(104, 103, 103); */
    box-shadow: 2px #888;
}