<div class="header">
    <div class="flex">
        <div class="left">
            <div>
                <img class="img2" src="../../../assets/icons/Asset_3.png">
            </div>
        </div>
        <div class="center  lightText">
                <div class="item">
                    <button>Teams</button>
                </div>
                <div class="item">
                    <button>One Drive</button>
                </div>
                <div class="item search-container">
                    <input class="input" type=text placeholder="Search...">
                </div>
                <div class="item"> 
                    <button class="settingButton"><img class="settings-icon" src="../../../assets/icons/setting.png"></button>
                </div>
        </div>
    </div>
</div>