
.componentBackground{
    width: 100%;
    height: 100%;    
    background-color: #291B57;
}

.negativeSpace {
    height: 110vh;
}

/* laptop screen */
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    /* height: 660px; */
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imageSpace{
    background-color: #FEC21C;
    border-radius: 20px 0px 0px 20px;
    height: 100%;
    width:28.5%;
}

.img_1{
    height: 330px;
}

.textSpace{
    background-color: #ffffff;
    border-radius: 20px;
    height: 100%;
    width: 30%;
}

.img_2{
    height: 50px;
}

input {
    width: 60%;
    /* background-color: #ffffff; */
    color: #291B57;
    padding: 14px 0px;
    margin: 8px 0;
    border-width: 0px 0px  1px 0px;
    cursor: pointer;
}

input:hover {
    background-color: #ffffff;
    color: #291B57;
}

.button{
    padding: 1% 10%;
    border-radius: 25px;
    background-color: #291B57;
    color: #ffffff;
}

.button:hover{
    background-color: #ffffff;
    color: #291B57;
}

.bottomSpace{
    padding-top: 7%;
}

.clear{
    background-color: white;
    border: none;
}

.highlightText:hover{
    border-bottom: 1px #291B57 solid;
}

.sizing{
    min-width: 200px;
}

.smallTopSpace{
    margin-top: 1%;
}

/* 3/4 laptop screen */
@media screen and (max-width: 1300px){
    .content{
        padding-top: 1%;
        height: 710px;
    }

    .imageSpace{
        height: 75%;
    }

    .textSpace{
        height: 75%;
    }

    .sizing{
        min-width: 160px;
    }
}


/* half laptop screen */
@media screen and (max-width: 1100px){
    .content{
        padding-top: 1%;
        height: 730px;
    }

    .textSpace{
        width: 40%;
    }

    .imageSpace{
        height: 75%;
    }

    .img_1{
        height: 200px;
    }

    .textSpace{
        height: 75%;
    }
    
    
    .img_2{
        height: 20px;
    }   

}

/* third laptop screen */
@media screen and (max-width: 750px){
    .content{
        padding-top: 1%;
        height: 710px;
    }

    .textSpace{
        width: 70%;
    }

    .imageSpace{
        height: 75%;
    }

    .img_1{
        height: 180px;
    }

    .textSpace{
        height: 75%;
    }
    
    
    .img_2{
        height: 20px;
    }   

}

/* qaurter laptop screen */
@media screen and (max-width: 650px){
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2%;
        height: 630px;
    }
    
    .center{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .textSpace{
        height: 550px;
        width: 45%;
    }   
}

/* secondary big screen */
@media screen and (min-width: 1900px){
    .content{
        padding-top: 10%;
        height: 750px;
    }
}

