/* You can add global styles to this file, and also import other style files */
body {
    border: none !important;
    margin: 0px !important;
    padding: 0 !important;
}

.bigSpaceMargin{
    margin: 8% 0;
}

.mediumSpaceMargin{
    margin: 4% 0;
}

.smallSpaceMargin{
    margin: 1% 0;
}

.bigSpacePadding{
    margin: 8% 0;
}

.mediumSpacePadding{
    margin: 4% 0;
}

.smallSpacePadding{
    margin: 1% 0;
}

.lightText{
    color: white;
    font-family: '\'Roboto\', sans-serif';
}

.darkText{
    color: #291B57;
    font-family: '\'Roboto\', sans-serif';
}

.largeText{
    font-size: 30px;
}

.smallText{
    font-size: 15px;
}

/* prime ng styling */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";