/* You can add global styles to this file, and also import other style files */
body {
    background-color: #291B57;
    border: none !important;
    margin: 0px !important;
    padding: 0 !important;
}